/*The body*/
body {
      background-color: #f0f5fb;
      font-family: 'Playpen Sans Arabic', sans-serif;
      margin: 0;
      padding: 0;
      color: #333;
    }

    /*The Header*/
    .header {
      background-color: #38ACEC;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    } 

    .header input {
      color: gray;
      text-align: left;
      padding: 10px 15px;
      width: 300px;
      border-radius: 50px;
      border: none;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      font-size: 16px;
    }
        
    .header input:hover {
      cursor : text;
    }
    .auth-buttons {
      display: flex;
      gap: 15px;
    }

    /*The Log in Buttum*/
    .login-btn, .signup-btn {
      padding : 10px 20px;
      font-size : 14px;
      border-radius : 50px;
      border: none;
      cursor: pointer;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }
    .login-btn {
      background-color: #0c6494;
      color : white;
    }

    /*The sign up buttum*/
    .signup-btn {
      background-color: #007bff;      
      color : white;
    }
    .login-btn:hover, .signup-btn:hover {
      transform : scale(1.1);
      transition: all 0.3s ease;
    } 

    /*The title*/
    .tittl {
      color: #0072b1;
      padding-top: 100px; 
      padding-bottom: 50px;
      padding : 10px 5px;
      text-align : center;
      display : flex;
      justify-content : center;
      align-items : center; 
      font-weight: 150;
      font-size : 25px;   
    } 

    /*The buttoms*/   
    .buttons {
      display: flex;
      justify-content: center; 
      gap: 20px; 
      margin-top: 30px;
      flex-wrap: wrap; 
    }
    .site-btn {
      padding : 10px 30px;
      font-size : 20px; 
      box-shadow: 0 5px 15px #0003;  
      border-radius : 70px;
      border: none; 
      background : #38ACEC;   
    } 
    .site-btn:hover {
      background-color: #eaf4ff;
      cursor: pointer;
      transform : scale(1.05);   
      transition: all 0.3s ease;
    }
    
    /*dropdown*/
    .dropdown-center {
      display: none;   
      position: absolute;
      text-align: center;
      top: 110%;
      left: 50%;
      transform: translateX(-50%);
      background: white;
      min-width: 180px;
      box-shadow: 0 5px 15px #0003;
      border-radius: 10px;
      padding: 10px 0;
      z-index: 10;
      font-size: 14px;
    } 
    .dropdown-center.show {
      display: block;
    }

    .dropdown-center a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: black;
    }
    .dropdown-center a:hover {
      background: #f1f1f1;
      transform: scale(1.05);
      transition: 0.2s;
    }
    .dropdown {
      position: relative;
    }       
     
    /*the article*/
    .article-card {
      width: 70%;
      margin: 50px auto;
      display: flex;
      background: white;
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 10px 25px rgba(0,0,0,0.08);
      cursor: pointer;
      flex: 1 1 45%;
      margin-top: 80px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      animation : fadeUp 1s ease forwards;
      opacity: 0;
    }
    .article-card:hover {
      transform: scale(1.02);
      box-shadow: 0 15px 35px rgba(0,0,0,0.15);
    }
    .article-card img {
      width: 35%;
      object-fit: cover;
    }
    .article-content {
      padding: 25px;
      text-align: left; 
    }
    .article-content h3 {
      margin-top: 0;
      color: #0072b1;
    }

    /*read more */
    .readmore {
      display : inline-block;
      margin-top : 20px;
      padding : 10px 20px;
      background-color: #007bff;
      color : white;
      text-decoration : none;
      border-radius : 20px;
      font-size : 15px;
      float: right; 
    }
    .readmore:hover {
      background-color: #0056b3;
    }
     
    /*mobile mood*/
    @media (max-width: 768px) {
      .article-card {
        flex: 1 1 100%;
        flex-direction: column; 
      }
      .article-card img {
        width: 100%;
        height: 200px;
      }
    } 
    
    /*article*/
    .container {
      width: 90%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;   
      gap: 30px;
      justify-content: center;
    }

    /*contant section*/
    .contact-section {
      background-color : #eaf4ff;
      padding : 40px;
      text-align : center;
      margin-top : 50px;   
    }  
    .contact-section h3 {
      margin-bottom: 20px;
    }
    .contact-section p {
      margin: 8px 0;
      font-size: 16px;
    } 
    
    /*footer*/
    footer {
      color: black;
      text-align: center;
      padding: 15px;
      margin-top: 20px;
      font-size : 18px;  
    }

    /*the article fade up*/
    @keyframes fadeUp {
      from {
        opacity : 0;
        transform : translateY(100px);
      }
      to {
        opacity : 1;
        transform : translateY(0);
      }  
    } 

    /*models of log in , sign in */
    .model, .model2 {
      display: flex;
      position: fixed;
      opacity: 0;
      background-color: rgba(0,0,0,0.4);
      backdrop-filter: blur(6px);
      inset: 0;
      justify-content: center;
      align-items: center;
      transition: 0.4s ease;
      visibility: hidden;
    }
    .model.active, .model2.active {
      opacity: 1;
      visibility: visible;
    }

    /*the fields*/
    .model-box, .model-box2 { 
      background: #ffffff;
      width: 350px;
      padding: 30px;
      border-radius: 20px;
      box-shadow:  0 20px 40px rgba(0,0,0,0.2);
      transform: translateY(40px);
      transition: 0.4s ease;
    }
    .model.active .model-box, .model2.active .model-box2 {
      transform: translateY(0);
    }
    .model-header, .model-header2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
    }
    .model-header h2, .model-header2 h2 {
      font-family: 'Cairo', sans-serif;
      margin: 0;
    }

    /*close */
    .close-btn {
      font-size: 22px;
      cursor: pointer;
    }

    /*the fields*/
    .input-group, .input-group2 {
      margin-bottom: 18px;
      display: flex;
      flex-direction : column;
    }
    .input-group label, .input-group2 label {
      margin-bottom: 6px;
      font-size: 14px;
      text-align: left; 
    }
    .input-group input, .input-group2 input {
      transition: 0.3s ease;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #ccc;
    }
    .input-group input:focus, .input-group2 input:focus {
      outline: none;
      border-color: #38ACEC;
      box-shadow: 0 0 5px #38ACEC55;
    }

    /*log in */
    .submit-btn {
      width: 100%;
      padding: 10px;
      background: linear-gradient(45deg, #38ACEC, #0072b1);
      color : white;
      border : none;
      border-radius : 20px;
      font-size : 16px; 
      cursor: pointer;
      transition: 0.3s;
    }
    .submit-btn:hover { 
      transform : scale(1.05);
    } 

    /*error massage*/
    .errorMsg {
      color : red;
      text-align : center;
      margin-top : 10px; 
      font-size : 13px;
      height: 18px;
    }
  